<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="author" content="KC">
  <meta name="designer" content="KC">
  <meta name="publisher" content="KC">

  <meta name="description" content="Novel, Thailand, ND, dek-d">
  <meta name="keywords" content="CLI, nd command, nd, novel, github, dek-d, Thailand">
  <meta name="revisit-after" content="7 days">
  <meta name="distribution" content="web">
  <meta http-equiv="refresh" content="30">
  <meta name="robots" content="noodp">

  <meta name="subject" content="Personal">
  <meta name="copyright" content="Copyright© 2018">
  <meta name="city" content="Bangkok">
  <meta name="country" content="TH">
  
  <meta name="format-detection" content="telephone=yes"/>
  <meta name="HandheldFriendly" content="true"/> 

  {{#novelName}}
  <title>{{novelName}} | {{chapterName}} ({{chapterNumber}})</title>
  {{/novelName}}
  {{^novelName}}
  <title>{{chapterName}} ({{chapterNumber}})</title>
  {{/novelName}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" integrity="sha256-zIG416V1ynj3Wgju/scU80KAEWOsO5rRLfVyRDuOv7Q=" crossorigin="anonymous" />

  <style type="text/css" media="screen">
    body {
      font-size: 1.5rem;
      font-family: 'Times New Roman', Times, serif;
      font-weight: normal;
    }

    .footer {
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
  </style>

  <style type="text/css" media="screen">
    {{css}}
  </style>
</head>

<body>
  <header class="title">
    <h1 class="is-size-3" id="title">{{chapterName}}</h1>
    {{! TODO: if novel name not exist }}
    <h2 class="is-size-5">{{novelName}} | {{lastUpdate}}</h2>
  </header>

  <main role="main">
    <div class="content">
      <div id="content">
        {{&content}}
      </div>
    </div>
  </main>

  {{! Add toc }}

  <footer class="footer">
    <div class="prev-chapter">
      <a id="prevChapter" href="chapter{{prev}}.html">
        Chapter {{prev}}
      </a>
    </div>
    <div class="next-chapter">
      <a id="nextChapter" href="chapter{{next}}.html">
        Chapter {{next}}
      </a>
    </div>
  </footer>

  <p style="display: none;">
    N{{NovelID}} was created on {{date}} by {{command}} command
  </p>

    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</body>

</html>