<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="author" content="KC">
  <meta name="designer" content="KC">
  <meta name="publisher" content="KC">

  <meta name="description" content="This is novel html automatic generating from {{command}} command version {{version}}">
  <meta name="keywords" content="CLI, nd command, nd, novel, github, dek-d">
  <meta name="revisit-after" content="7 days">
  <meta name="distribution" content="web">
  <meta http-equiv="refresh" content="30">
  {{! og: http://ogp.me/#types }}
  <meta property="og:title" content="{{novelName}}" />
  <meta property="og:type" content="book" />
  <meta property="og:link" content="{{link}}" />

  <meta name="subject" content="Personal">
  <meta name="copyright" content="Copyright© 2018">
  <meta name="city" content="Bangkok">
  <meta name="country" content="TH">

  <meta name="HandheldFriendly" content="true" />

  {{#novelName}}
    {{#chapterName}}
      <title>{{chapterName}} ({{chapterNumber}}) | {{novelName}}</title>
    {{/chapterName}}
    {{^chapterName}}
      <title>{{novelName}}</title>
    {{/chapterName}}
  
  {{/novelName}}
  {{^novelName}}
  <title>{{chapterName}} ({{chapterNumber}})</title>
  {{/novelName}}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <style type="text/css" media="screen">
    body {
      font-size: 1.5rem;
      font-family: 'Times New Roman', Times, serif;
      font-weight: normal;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .title {
      margin-top: 2rem
    }

    .footer {
      display: flex;
      flex-direction: column;
      margin-left: 0.75rem;
      margin-right: 0.75rem;
      margin-bottom: 2rem;
    }

    .follow-group-btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .credit {
      font-size: 0.75rem;
      color: hsl(0, 0%, 71%);
    }
  </style>

  <style type="text/css" media="screen">
    {{&css}}
  </style>
</head>

<body style="height: 100%">
  <header class="title">
    {{#chapterName}}
      <h1 id="title">{{chapterName}}</h1>
      <h4>
        <a href="chapter0.html">{{novelName}}</a>
        {{#lastUpdate}}
          | <i class="far fa-clock"></i> {{lastUpdate}}
        {{/lastUpdate}}
      </h4>
    {{/chapterName}}
    {{^chapterName}}
      <a href="chapter0.html">
        <h1 id="title">{{novelName}}</h1>
      </a>
    
      {{#lastUpdate}}
        <i class="far fa-clock"></i> {{lastUpdate}}
      {{/lastUpdate}}
    {{/chapterName}}
  </header>

  <main role="main" style="min-height: 70%">
    <div class="content">
      <div id="content">
        {{&content}}
      </div>
    </div>
  </main>
  
  <footer class="footer">
    <div class="follow-group-btn">
      <div class="prev-group">
        <a class="home-chapter" id="homeChapter" href="chapter0.html">Home</a>
        <a class="prev-chapter" id="prevChapter" href="chapter{{prev}}.html">Previous</a>
      </div>
      <div class="pagination">
        {{#toc}}
          <a href="chapter{{_chapterNumber}}.html">
            <div class="page-element">
              <span class="page-link">{{_chapterNumber}}</span>
            </div>
          </a>
        {{/toc}}
      </div>
      <a class="next-chapter" id="nextChapter" href="chapter{{next}}.html">Next</a>
    </div>

    <div class="credit">
      <p id="detail">
        <a href="{{link}}">{{novelID}}</a> was created <br />
        on {{date}} <br />
        by {{command}} command version {{version}}
      </p>
    </div>
  </footer>
</body>
</html>