body {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.page-element {
  border-radius: 2rem;
  border: 2px solid #73ad21;
  padding: 0.5rem;
  margin: 0.25rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
